body {
    height: 100%;
}
#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    flex: 0 0 auto;
    margin-bottom: 2rem;
}
.content {
    flex: 1 0 auto;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.search {
    margin: 2rem auto;
}
.posts-list{
    filter: blur(0);
    transition: filter 0.4s;

    &.blur {
        filter: blur(4px);
    }
}

.posts-list-item {
    .posts-list-item-image {
        min-height: 225px;
        background-color: #dee2e6 ;
        margin-bottom: 10px;
    }
}


.login {
    form {
        .error-form {
            font-weight: 600;
            text-align: center;
            padding: 5px;
        }
    }
}

.edit-post {
    .text {
        min-height: 150px;
    }
}

.new-answers-wrap {
    padding-top: 1rem;
    textarea {
        min-height: 150px;
    }
    .btn-wrap {
        padding-top: 1rem;
        .btn {
            margin: 10px 2rem;
        }
    }
}

.footer {
    flex: 0 0 auto;
    background-color: #dee2e6;
    padding: 2rem 0;
    margin-top: 2rem;;
}