img {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.search {
    margin: 2rem auto;
}
.posts-list{
    filter: blur(0);
    transition: filter 0.4s;

    &.blur {
        filter: blur(4px);
    }
}

.posts-list-item {
    .posts-list-item-image {
        min-height: 225px;
        background-color: #dee2e6 ;
        margin-bottom: 10px;
    }
}


.login {
    form {
        .error-form {
            font-weight: 600;
            text-align: center;
            padding: 5px;
        }
    }
}

.edit-post {
    .text {
        min-height: 150px;
    }
}